.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.vscode
vignettes/figure/unnamed-chunk-4-1.png
vignettes/figure/unnamed-chunk-8-1.png
vignettes/figure/unnamed-chunk-8-2.png
vignettes/figure/unnamed-chunk-8-3.png
vignettes/figure/unnamed-chunk-8-4.png
vignettes/figure/unnamed-chunk-8-5.png
vignettes/figure/unnamed-chunk-8-6.png
vignettes/figure/unnamed-chunk-8-7.png
vignettes/figure/unnamed-chunk-8-8.png
vignettes/figure/unnamed-chunk-8-9.png
vignettes/figure/unnamed-chunk-8-10.png
vignettes/figure/unnamed-chunk-12-1.png
vignettes/cophylogenetic_sim.md
*.o.json
.clangd/*
.clang-tidy
compile_commands.json
